{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Registrasi Akun Baru</title>
<style>
    body {
        font-family: 'Algreya Sans SC', sans-serif;
        background-color: rgb(162, 194, 253);
        height: 100vh;
    }
  
    .navbar {
      background-color: lightgoldenrodyellow;
    }
    .btn-primary{
        background-color: lightblue;
        border-color: lightpink;
    }
    .btn-link{
      background-color: lightblue;
      border-color: lightpink;
      border: 1px;
    }

    .h1{
      font-size: xx-large;
      font-weight: bold;
    }

    .h5 {
      font-size: medium;
      font-weight: lighter;
    }

    .card:hover{
    transform: scale(1.5);
    background-color: cyan;
  } 
  

  
</style>
{% endblock meta %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="#">TODO LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="https://pbp-fasilkom-ui.github.io/ganjil-2023/">Link Github PBP <span class="sr-only">(current)</span></a>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-primary"><a href="{% url 'todolist:logout' %}" class="btn-link">Logout</a></button>
        </form>
    </div>
</nav>

<p class="h1 m-4">{{username}}'s To-Do List</p>
<p class="h5 m-4">Sesi terakhir login: {{ last_login }}</p>

<button type="button" class="btn btn-primary mx-5" data-toggle="modal" data-target="#exampleModal">Add TodoList</button>

<div class="container-fluid m-2">
    <div class="row" id="cards"></div>
</div>

  
  <!-- Modal: taken form bootstrap website --> 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New TodoList</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <form id="form-myform" onsubmit="return false;">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                     <form role="'form" method="POST" action="" id="form" onsubmit="return false;"> 
                        <input type="hidden" name="_token" value=""> 
                            <label for="title" class="control-label">Judul Task</label>
                            <div>
                                <input type="text" class="form-control input-lg" name="title" placeholder="title" id="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="control-label">Description</label>
                            <div>
                                <input type="text" class="form-control input-lg" name="description" placeholder="description" id="description">
                            </div>
                        </div>
                         <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="savebutton">Save changes</button>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
      </div>
    </div>
  </div> 



  <script>
    async function getTodolist() {
        return fetch("{% url 'todolist:get_todolist_json' %}").then((res) => res.json())
    }
  
    async function refreshTodolist() {
        document.getElementById("title").value = ""
        document.getElementById("description").value = ""
        document.getElementById("cards").innerHTML = ""
        const todolist = await getTodolist()
        let htmlString = ""
        todolist.forEach((task) => {
            let is_finished = task.fields.is_finished ? "Selesai" : "Belum Selesai";
            htmlString += `\n<div class="col-lg-3 col-md-4 col-sm-6">
                                    <div id="${task.pk}" class="card my-3" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">${task.fields.title}
                                                <span class="badge badge-secondary">
                                                    ${is_finished}
                                                </span>
                                            </h5>
                                            <h6 class="card-subtitle my-2 text-muted">Created on ${task.fields.date}</h6>
                                            <p class="card-text">${task.fields.description}</p>
                                            <button class="btn btn-primary btn-sm m-2"><a href="change-done/${task.pk}" class="btnlink">Change Status</a></button>
                                            <button class="btn btn-danger btn-sm m-2"><a href="remove-task/${task.pk}" class="btnlink">Remove Task</a></button>
                                        </div>
                                    </div>
                                </div>`
        })
        
         document.getElementById("cards").innerHTML = htmlString
    }

    function addTodolist() {
        fetch("{% url 'todolist:add_todolist_item' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form-myform'))
        }).then(refreshTodolist)
        return false
    }

    document.getElementById("savebutton").onclick = addTodolist
    refreshTodolist()

</script>

{% endblock content %}
