/* body {
    font-family: 'Algreya Sans SC', sans-serif;
    background-color: lightskyblue;
}

.login, .register, .create {
    padding: 20px;
    border-radius: 12px;
    background-color: lightskyblue;
}

.login {
    width: 450px;
}

.register{
    width: 1000px;
}

.create {
    width: 800px;
}

.btn-primary {
    background-color: lightblue;
    border-color: lightpink;
}

.btn-primary:hover, .navbar .btn:hover {
    background-color: lightcoral;
}

.navbar .btn .btnlink, .navbar .navbar-brand, .link, .link:hover {
    color: darkgoldenrod;
}

.navbar {
    background-color: lightgoldenrodyellow;
}

.navbar .btn {
    border-color: lightgoldenrodyellow;
}

.navbar .btn .btnlink:hover, .btnlink, .btnlink:hover {
    color: darkgrey;
}

.card {
    padding: 8px;
    border-radius: 12px;
}

.card-title, .h3, .h1 {
    font-weight: 600;
}

/* bonus */
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
} */