{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>Katrina Gisella Sembiring</p>

<table>
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for mywatchlist in list_movie%}
    <tr>
        <th>{{mywatchlist.watched}}</th>
        <th>{{mywatchlist.title}}</th>
        <th>{{mywatchlist.rating}}</th>
        <th>{{mywatchlist.release_date}}</th>
        <th>{{mywatchlist.review}}</th>

    </tr>
{% endfor %}
</table>

{% endblock content %}